/logs/
/activity/
/configs/
/X Note Drops/
/temp/
/extensions/__init__.py
/dependencies/__init__.py
/configs/guilds/
/.venv/
/backup/
/extensions/ffmpeg.exe
/temp_files/
/.env
/docker-compose.yml
/.xenv
/XTests/
